---
import type { CollectionEntry } from "astro:content";

import Content from "./Content.astro";

import Tag from "./Tag.astro";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<div class="lg:hover:scale-[1.02]">
  <Content>
    <a href={`/work/${slug}`}>
      <div class="m-0 p-2 border-b-2 border-b-slate-300 bg-slate-800">
        <div class="hidden lg:flex flex-row items-center">
          <h2 class="text-4xl text-white">{data.title}</h2>
          <div class="flex flex-row items-center">
            {data.tags.map((t) => <Tag>{t}</Tag>)}
          </div>
        </div>
        <h2 class="text-2xl lg:hidden text-white">{data.title}</h2>
      </div>
      <div class="w-full h-full backdrop-blur-sm">
        <div
          class="lg:skew-y-6 lg:-rotate-6 scale-90 p-2 flex flex-row flex-wrap"
        >
          <img
            src={data.img}
            alt={data.img_alt || ""}
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
    </a>
  </Content>
</div>
