---
import { type CollectionEntry, getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Tag from "../../components/Tag.astro";

interface Props {
  entry: CollectionEntry<"work">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const work = await getCollection("work");
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Header />
  <main class="m-2 lg:my-4 lg:mx-20">
    <div class="h-4 lg:h-16"></div>
    <h1
      class="text-sky-600 lg:font-bold text-2xl lg:text-4xl xl:text-8xl xl:wb-4 z-20"
    >
      {entry.data.title}
    </h1>
    <div class="flex flex-row flex-warp">
      {
        entry.data.tags.map((t) => (
          <div class="m-1 lg:mx-2">
            <Tag>{t}</Tag>
          </div>
        ))
      }
    </div>

    <h2 class="text-black text-xl lg:text-2xl xl:text-4xl">
      {entry.data.description}
    </h2>

    <div class="mt-4 block lg:hidden">
      {
        entry.data.img && (
          <img
            src={entry.data.img}
            alt={entry.data.img_alt || ""}
            class="bg-transparent border-b-4 border-r-4 border-b-sky-400 border-r-sky-400 rounded-xl lg:rounded-xl shadow-lg object-contain"
          />
        )
      }
      <div
        class="p-2 m-6 w-1/8 lg:p-6 bg-slate-100 rounded-lg border-t-4 border-t-sky-400 shadow-lg"
      >
        <Content />
      </div>
    </div>
    <div
      class="mt-4 p-4 hidden lg:flex flex-row bg-slate-100 rounded-lg border-t-4 border-t-sky-400 shadow-lg"
    >
      {
        entry.data.img && (
          <img
            src={entry.data.img}
            alt={entry.data.img_alt || ""}
            class="bg-transparent border-b-4 border-r-4 border-b-sky-400 border-r-sky-400 rounded-xl lg:rounded-xl shadow-lg max-w-[500px] object-contain"
          />
        )
      }
      <div class="p-2 m-6 w-1/8 lg:p-6">
        <Content />
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-around">
      {
        entry.data.code && (
          <a
            href={entry.data.code}
            target="_blank"
            class="p-2 m-6 w-1/8 bg-gradient-to-r from-sky-500 to-sky-800 lg:duration-500 lg:hover:scale-110 rounded-lg"
          >
            <div class="bg-slate-100 rounded-lg p-2 w-[250px]">
              <div class="flex flex-row justify-around items-center ">
                <img
                  class="w-12 h-12"
                  src="/assets/code1.svg"
                  alt="logo de code"
                />
                Lien vers le code Git
              </div>
            </div>
          </a>
        )
      }
      {
        entry.data.code && (
          <a
            href={entry.data.site}
            target="_blank"
            class="p-2 m-6 w-1/8 bg-gradient-to-r from-sky-500 to-sky-800 lg:duration-500 lg:hover:scale-110 rounded-lg"
          >
            <div class="bg-slate-100 rounded-lg p-2 w-[250px]">
              <div class="flex flex-row justify-around items-center ">
                <img
                  class="w-12 h-12"
                  src="/assets/site1.svg"
                  alt="logo de site"
                />
                Lien vers le site web
              </div>
            </div>
          </a>
        )
      }
    </div>
  </main>
  <Footer />
</Layout>
