---
import { type CollectionEntry, getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Tag from "../../components/Tag.astro";
import Titre from "../../components/Titre.astro";

interface Props {
  entry: CollectionEntry<"work">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const work = await getCollection("work");
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="bg-repeat-y bg-[url('/assets/star.jpg')] w-screen h-full">
    <Header />
    <Titre
      ><h1 class="text-white text-2xl lg:text-4xl z-20">{entry.data.title}</h1>
    </Titre>
    <main class="m-2 lg:my-4 lg:mx-20">
      <div class="flex flex-row flex-warp">
        {
          entry.data.tags.map((t) => (
            <div class="m-1 lg:mx-2">
              <Tag>{t}</Tag>
            </div>
          ))
        }
      </div>

      <div
        class="p-2 m-6 w-1/8 bg-slate-900 border-2 border-slate-300 lg:-skew-y-6 lg:rotate-6"
      >
        <h2 class="text-white text-xl lg:text-2xl">
          {entry.data.description}
        </h2>
      </div>

      <div>
        {
          entry.data.img && (
            <img
              data-aos="flip-up"
              src={entry.data.img}
              alt={entry.data.img_alt || ""}
              class="bg-transparent border-b-4 border-r-4 border-b-slate-50 border-r-slate-50 p-4"
            />
          )
        }
        <div
          class="p-2 m-6 w-1/8 lg:p-6 bg-slate-900 border-2 border-slate-300 lg:-skew-y-6 lg:rotate-6"
        >
          <div class="lg:skew-y-6 lg:-rotate-6">
            <Content />
          </div>
        </div>
        <div class="flex flex-col lg:flex-row justify-around">
          <div
            class="p-2 m-6 w-1/8 bg-slate-900 border-2 border-slate-300 lg:-skew-y-6 lg:rotate-6 lg:duration-500 lg:hover:scale-110"
          >
            <div class="lg:skew-y-6 lg:-rotate-6">
              {
                entry.data.code && (
                  <a
                    href={entry.data.code}
                    target="_blank"
                    class="flex flex-row justify-around items-center "
                  >
                    <img
                      class="w-12 h-12"
                      src="/assets/git.svg"
                      alt="logo de code"
                    />
                    Lien vers le code Git
                  </a>
                )
              }
            </div>
          </div>
          <div
            class="p-2 m-6 w-1/8 bg-slate-900 border-2 border-slate-300 lg:-skew-y-6 lg:rotate-6 lg:duration-500 lg:hover:scale-110"
          >
            <div class="lg:skew-y-6 lg:-rotate-6">
              {
                entry.data.site && (
                  <a
                    href={entry.data.site}
                    target="_blank"
                    class="flex flex-row justify-around items-center "
                  >
                    <img
                      class="w-12 h-12"
                      src="/assets/gitlab.svg"
                      alt="logo de site"
                    />
                    Lien vers le site web
                  </a>
                )
              }
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</Layout>
